@import url(https://fonts.google.com/specimen/Bodoni+Moda?preview.text=EAT%20@%20HOME&preview.text_type=custom&sidebar.open=true&selection.family=Bodoni+Moda);
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap");
body {
  background-color: antiquewhite;
  width: auto;
  align-items: center;
}

/* used globally */

h1 {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(197, 58, 36);
}
h2 {
  max-width: 1200px;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Bodoni Moda", serif;
  font-size: 100px;
}
h3 {
  padding-left: 30px;
  display: flex;
  align-items: flex-start;
  font-size: 25px;
}

h4 {
  color: black;
  font-family: "Bodoni Moda", serif;
  font-size: 100px;
  padding-left: 20px;
  margin: 20px;
}

.navbar {
  color: whitesmoke !important;
  background-color: rgb(197, 58, 36);
  font-family: "Bodoni Moda", serif;
  display: flex;
  justify-content: space-around;
  text-decoration-color: whitesmoke;
  height: 40px;
  padding-top: 30px;
  width: auto;
}

.nav a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
}

.text {
  color: black;
  text-align: center;
}

.info-text {
  display: flex;
  margin-left: 15px;
  width: 600px;
  text-align: left;
}

.feature_divider {
  width: 100%;
  margin-bottom: 20px;
  display: block;
  border: 0;
  border-color: #aaaaaa;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.column {
  margin-top: 8px;
  vertical-align: middle;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 4px;
  margin: 20px 20px 20px 20px;
}

.button {
  background-color: rgb(197, 58, 36);
  height: 40px;
  width: 80px;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 20px;
}

.box {
  height: 200px;
  width: 400px;
}

.about {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding-top: 20px;
  width: 100%;
  min-width: 400px;
  max-width: 100%;
}

/* CompTemp page styling */
.reviews-header {
  display: -flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin: 30px;
  padding-bottom: 300px;
}
.img {
  margin: 0px;
}
.temp-image {
  position: left;
}

.button-pos {
  display: flex;
  margin-left: 30px;
}

.compTemp-items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.compTemp-image {
  padding-left: 20px;
  height: 400px;
  width: 400px;
}

.review-box {
  padding-left: 30px;
}

/* home page styling */
.header-image {
  position: relative;
  width: 100%;
  z-index: -1;
  padding-bottom: 30px;
}
.header-image img {
  width: 100%;
}

h1 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: none;
  text-align: center;
  font-size: 100px;
  font-family: "Bodoni Moda", serif;
  margin-bottom: 30px;
  background-color: rgb(197, 58, 36);
}

.bold-text {
  font-weight: bold;
  font-size: 40px;
}

/* InfoTile styling */
.c-image {
  border-color: rgb(197, 58, 36);
  position: relative;
  vertical-align: middle;
  object-fit: fill;
  width: 300px;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
}

.c-image img {
  width: 100%;
}

.box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Cabin Sketch", cursive;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(197, 58, 36, 0.5);
  height: auto;
  width: 100%;
}

/*  About */
.about-image {
  border-style: groove;
  border-width: 6px;
  border-color: rgb(197, 58, 36);
  padding: 10px;
  margin: 20px;
  height: 300px;
  width: 200px;
}

.aboutHI {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.about-text {
  width: 200px;
  text-align: center;
  padding-left: 20px;
  color: black;
}
a {
  color: black;
}

.aboutHI-image {
  min-width: 400px;
  width: 100%;
}

/* Groceries/Kits/Meals styling */
.page-title {
  height: 60px;
  width: 300px;
  color: black;
  font-family: "Bodoni Moda", serif;
  font-size: 40px;
  padding: 30px;
  margin-bottom: 0px 20px 20px 20px;
}
.column {
  display: flex;
  flex: 50%;
  margin: 0px 20px 0px 0px;
}

/*  Profile styling */

.test {
  border: rgb(197, 58, 36);
  border-width: 4px;
  border-style: solid;
  color: black;
  margin: 2rem;
}
.save {
  border: rgb(197, 58, 36);
  border-width: 2px;
  border-style: solid;
  font-family: "Cabin Sketch", cursive;
}

.profile-header {
  border: rgb(8, 161, 150);
  border-width: 10px;
  border-style: solid;
  font-family: "Cabin Sketch", cursive;
  width: 400px;
  display: flex;
  justify-content: center;
}

.profile-items {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 30px;
  align-items: center;
}

.save-items {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: snow;
  text-align: center;
}

.logOut-items {
  display: flex;
  justify-content: center;
  padding: 40px;
  text-align: center;
  background-color: antiquewhite;
}

.line-itmes {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.line-header {
  font-size: 30px;
}

.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 400px;
}
