@import url(https://fonts.google.com/specimen/Bodoni+Moda?preview.text=EAT%20@%20HOME&preview.text_type=custom&sidebar.open=true&selection.family=Bodoni+Moda);
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap");
body {
  background-color: antiquewhite;
  width: auto;
  align-items: center;
}

h1 {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(197, 58, 36);
}
h2 {
  max-width: 1200px;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Bodoni Moda", serif;
  font-size: 100px;
}
h3 {
  padding-left: 30px;
  display: flex;
  align-items: flex-start;
  font-size: 25px;
}

h4 {
  color: black;
  font-family: "Bodoni Moda", serif;
  font-size: 100px;
  padding-left: 20px;
  margin: 20px;
}

.reviews-header {
  display: -flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin: 30px;
  padding-bottom: 300px;
}
.img {
  margin: 0px;
}

.header-image {
  position: relative;
  width: 100%;
  z-index: -1;
  padding-bottom: 30px;
}
.header-image img {
  width: 100%;
}
.temp-image {
  position: left;
}
.info-image {
  position: left;
}

h1 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: none;
  text-align: center;
  font-size: 100px;
  font-family: "Bodoni Moda", serif;
  margin-bottom: 30px;
  background-color: rgb(197, 58, 36);
}

.navbar {
  color: whitesmoke !important;
  background-color: rgb(197, 58, 36);
  font-family: "Bodoni Moda", serif;
  display: flex;
  justify-content: space-around;
  text-decoration-color: whitesmoke;
  height: 40px;
  padding-top: 30px;
  width: auto;
}
.nav a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
}
.text {
  color: black;
  text-align: center;
}

.info-text {
  display: flex;
  /* justify-content: center; */
  margin-left: 20px;
  width: 600px;
  text-align: left;
}

.button-pos {
  display: flex;
  margin-left: 40px;
}
.bold-text {
  font-weight: bold;
  font-size: 40px;
}

.feature_divider {
  width: 100%;
  margin-bottom: 20px;
  display: block;
  border: 0;
  border-color: #aaaaaa;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.column {
  margin-top: 8px;
  vertical-align: middle;
}

.c-image {
  border-color: rgb(197, 58, 36);
  position: relative;
  vertical-align: middle;
  object-fit: fill;
  width: 300px;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
}
.about-image {
  border-style: groove;
  border-width: 6px;
  border-color: rgb(197, 58, 36);
  padding: 30px;
  margin: 20px;
}
.c-image img {
  width: 100%;
}

.box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Cabin Sketch", cursive;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(197, 58, 36, 0.5);
  height: auto;
  width: 100%;
}

.page-title {
  height: 60px;
  width: 300px;
  color: black;
  font-family: "Bodoni Moda", serif;
  font-size: 40px;
  padding: 30px;
  margin-bottom: 0px 20px 20px 20px;
}

.column {
  display: flex;
  flex: 50%;
  /* padding: 0 4px; */
  margin: 0px 20px 0px 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 4px;
  margin: 20px 20px 20px 20px;
}

.compTemp-items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.compTemp-image {
  padding-left: 20px;
  height: 400px;
  width: 400px;
}

.rating-stars {
  padding-left: 20px;
}

.button {
  background-color: rgb(197, 58, 36);
  height: 40px;
  width: 80px;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 20px;
}

.review-box {
  padding-left: 30px;
}
.box {
  height: 200px;
  width: 400px;
}
.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  padding-top: 20px;
}
.profile-image {
  width: 100px;
  height: 100px;
}
.profile-items {
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.info-tile {
  width: 150px;
}
